idp-pipeline-lambdas/src/main/resources/step-functions/idp-pipeline.asl.json
{
  "Comment": "IDP Pipeline Express Workflow - Orchestrates document processing: Textract → NLP → ML Classification → Persistence → Status Update. Implements Saga pattern with compensating transactions on failure.",
  "StartAt": "TextractStep",
  "States": {
    "TextractStep": {
      "Type": "Task",
      "Resource": "${TEXTRACT_LAMBDA_ARN}",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensatingTransactions",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NLPStep"
    },
    "NLPStep": {
      "Type": "Task",
      "Resource": "${NLP_LAMBDA_ARN}",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensatingTransactions",
          "ResultPath": "$.error"
        }
      ],
      "Next": "MLClassificationStep"
    },
    "MLClassificationStep": {
      "Type": "Task",
      "Resource": "${CLASSIFIER_LAMBDA_ARN}",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensatingTransactions",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PersistenceStep"
    },
    "PersistenceStep": {
      "Type": "Task",
      "Resource": "${PERSISTENCE_LAMBDA_ARN}",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensatingTransactions",
          "ResultPath": "$.error"
        }
      ],
      "Next": "UpdateStatusCompleted"
    },
    "UpdateStatusCompleted": {
      "Type": "Task",
      "Resource": "${STATUS_UPDATER_LAMBDA_ARN}",
      "Parameters": {
        "documentId.$": "$.documentId",
        "tenantId.$": "$.tenantId",
        "status": "COMPLETED"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensatingTransactions",
          "ResultPath": "$.error"
        }
      ],
      "TimeoutSeconds": 1,
      "End": true
    },
    "CompensatingTransactions": {
      "Type": "Task",
      "Comment": "Saga compensating transaction: marks document FAILED in DynamoDB and sends to DLQ",
      "Resource": "${COMPENSATING_LAMBDA_ARN}",
      "Parameters": {
        "documentId.$": "$.documentId",
        "tenantId.$": "$.tenantId",
        "s3Key.$": "$.s3Key",
        "uploadTimestamp.$": "$.uploadTimestamp",
        "error.$": "$.error"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "UpdateStatusFailed",
          "ResultPath": "$.compensationError"
        }
      ],
      "Next": "UpdateStatusFailed"
    },
    "UpdateStatusFailed": {
      "Type": "Task",
      "Resource": "${STATUS_UPDATER_LAMBDA_ARN}",
      "Parameters": {
        "documentId.$": "$.documentId",
        "tenantId.$": "$.tenantId",
        "status": "FAILED"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 60
        }
      ],
      "End": true
    }
  }
}
